<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body class="h-screen">
    <nav
      id="navegacion"
      class="bg-blue-800 p-4 text-white grid grid-flow-col py-3"
    ></nav>

    <div class="w-screen grid place-items-center h-4/5">
      <div
        class="bg-blue-700 h-auto py-6 md:p-0 md:h-2/4 w-2/5 rounded grid place-items-center"
      >
        <form class="w-5/6 h-auto flex flex-col gap-5">
          <div class="flex flex-col w-full gap-10">
            <div class="flex flex-col gap-4">
              <label class="text-white" for="usuario">Usuario</label>
              <input
                class="bg-blue-800/50 rounded px-3 py-1 w-full"
                type="text"
                name=""
                id="usuario"
              />
            </div>
            <div class="flex flex-col gap-4">
              <label class="text-white" for="password">Contraseña</label>
              <input
                placeholder="•••••••••••••"
                class="bg-blue-800/50 rounded px-3 py-1 w-full"
                type="password"
                name=""
                id="password"
              />
            </div>
          </div>

          <div class="self-center">
            <button
              class="bg-blue-500 mt-5 py-2 px-5 rounded transition ease-in-out hover:text-white hover:bg-blue-600"
              type="submit"
            >
              Aceptar
            </button>
          </div>
        </form>
      </div>
    </div>

    <script src="../components/nav.js"></script>
  </body>
</html>
