<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APPREST</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body class="grid">
    <nav
      id="navegacion"
      class="bg-blue-800 p-4 text-white grid grid-flow-col py-3"
    ></nav>
    <div
      class="flex flex-col items-center md:flex-row lg:w-3/4 md:gap-5 lg:place-self-center my-10"
    >
      <section>
        <h1 class="text-center text-blue-700 font-bold text-3xl md:text-4xl">
          Restaurant APP
        </h1>
      </section>
      <div class="flex flex-col gap-4">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa
          aspernatur odio ut libero quis nobis aliquid corporis, facilis,
          obcaecati harum dicta illo dolorem explicabo ipsum praesentium
          expedita cupiditate voluptatum. Similique.
        </p>
        <div class="h-15 flex justify-center gap-5">
          <a
            class="transition ease-in-out text-white font-bold bg-blue-950 py-2 px-4 rounded hover:bg-blue-700 hover:text-black"
            href="/Login"
            >Login</a
          >
          <a
            class="transition ease-in-out font-bold bg-blue-500 py-2 px-4 rounded hover:bg-blue-700 hover:text-white"
            href="/Register"
            >Registro</a
          >
        </div>
      </div>
    </div>
    <script src="../components/nav.js"></script>
  </body>
</html>
